# Database Configuration
DB_HOST=host
DB_PORT=port
DB_NAME=dbname
DB_USER=user    
DB_PASSWORD=db_pwd

# API Configuration
NEXT_PUBLIC_API_BASE_URL=baseuri

# JWT Secret
JWT_SECRET=jwtsecret

# Environment
NODE_ENV=environment